<div class="containing">
<form id='employee_form' action="/employee/new" method="POST">
  <input type="text" name="store_name" placeholder="Store Name">
  <br>
  <input type="text" name="name" placeholder="Name"
  <br>
  <input type="text" name="rating" placeholder="Rating"
  <br>
  <textarea type="text" name="comment"placeholder="Comment's"></textarea>
  <br>
  <input type="submit" value="Create Employee">
</form>

</div>
