<div class="employee_view_table">
<table>
        <thead>
            <tr>
                <th><%= @employee.store_name %></th>
            </tr>
        </thead>
        <tbody>
                <tr>

                    <td><%= @employee.comment %></td>
                    <td>| <%= @employee.rating %></td>
                </tr>

        </tbody>
    </table>
</div>
