<div class="container">
<form action="/review/new" method="POST">
  <input type="text" name="store_name" placeholder="Store Name">
  <br>
  <input type="text" name="rating" placeholder="Rating"
  <br>
  <textarea type="text" name="comment"placeholder="Comment's"></textarea>
  <br>
  <input type="submit" value="Create Review">
</form>

</div>
