<div id="new_review">
    <form action="/new/review" method="post">
    <input type="text" name="store_name" placeholder="Store name">
    <input type="text" rating="rating" placeholder="Rating"
    <input type="text" name="comment" placeholder="Comment's">
    <input type="submit" value="Create Post">
  </div>
