<div class="review_view_table">
<table>
        <thead>
            <tr>
                <th><%= @review.store_name %></th>
            </tr>
        </thead>
        <tbody>
                <tr>

                    <td><%= @review.comment %></td>
                    <td>| <%= @review.rating %></td>
                </tr>

        </tbody>
    </table>
</div>
