h3 {
  font-family: cursive;
  text-align: center;
  padding: 10px;
}

.review_view_table {
  padding: 10px;
  width:70%;
  margin-left:15%;
  margin-right:15%;
}



#new_review {
  text-align: right;
  font-family: Arial;
}

#new_employee {
  text-align: right;
  font-family: Arial;
}

a.bttn {
  width: 115px;
  height: 25px;
  background: #696969;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-family: Arial;
}
textarea#styled{
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
}
