h3 {
  font-family: cursive;
  text-align: center;
  padding: 10px;
}

# {
  font-family: monaco;
  text-align: center;
}

.review_view_table {

  padding: 10px;

  width:70%;
  margin-left:15%;
  margin-right:15%;
}

.container {
  height: 30px;
  width: 480px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
