h3 {
  font-family: cursive;
  text-align: center;
  padding: 10px;
}

.review_view_table {
  padding: 10px;
  width:70%;
  margin-left:15%;
  margin-right:15%;
}

#login {
  box-shadow: 0 0 200px;
}

#signup {
  box-shadow: 0 0 200px;
}

#new_review {
  text-align: right;
  font-family: Arial;
}

#new_employee {
  text-align: right;
  font-family: Arial;
}

.employee_view_table {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
  sans-serif;
  color: #696969;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.review_view_table {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
  sans-serif;
  color: #696969;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

a.bttn {
  width: 115px;
  height: 25px;
  background: #696969;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-family: Arial;
}
textarea#styled{
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
}
