<h3>Choose your affiliation </h3>
<form action="/user" method="post">
    <input type="text" name="usertype" placeholder="jedi/sith">
    <input type="text" name="password_digest" placeholder="password">
    <input type="text" name="password_digest" placeholder="password">
    <input type="submit" value="Enter"
  </form>
